{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/gif" sizes="16x16">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css'/>
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}

    <div class="contact-us-image">
        <img style="width: 100%" src="{% static 'images/about_us.jpg' %}">
        <div class="container myclass">
        <div class="col-md-offset-5 col-md-3">
            <h3 class="contact-us-title-setting" style="color: ghostwhite;">About<span> Us</span></h3>
        </div>
{#        <h3 class="contact-us-title-setting">About<span> Us</span></h3>#}
        <!--/w3_short-->
             <div class="services-breadcrumb">
                <div class="agile_inner_breadcrumb">

                   <ul class="w3_short">
                        <li><a href="{% url 'index' %}">Home</a><i>|</i></li>
                        <li>About</li>
                    </ul>
                 </div>
            </div>
	   <!--//w3_short-->
	    </div>
    </div>

<!-- /banner_bottom_agile_info -->
    <div class="banner_bottom_agile_info">
	    <div class="container">
			<div class="agile_ab_w3ls_info">
				<div class="col-md-12" align="center">
				   	<img src="{% static 'images/Auto Lux for about us.png' %}" alt=" " class="img-responsive" />
				</div>
                 <div class="col-md-offset-2 col-md-8 about-us-content" align="center">
                     <p>AutoLux.pk is dedicated to provide unique and rare car accessories that are either
                        not available in Pakistan or are extremely rare. We aim to import such automotive
                        products and provide them at reasonable and competitive prices. All of our
                        products and car accessories are self-imported by taking the market dynamics into
                        account. However, we also arrange one-off shipments on pre-order for interested
                        customers.
                     </p>
                 </div>
				  <div class="clearfix"></div>
			</div>
		 </div>
    </div>
	<!-- team -->
{% endblock %}
