<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
    <form action="#" method="post" id="add_to_cart{{ item.id }}">
    {% csrf_token %}
        <fieldset>
            <input type="hidden" name="item_id" value="{{ item.id}}" />
            <input type="hidden" name="item_name" value="{{ item.product_title }}" />
            <input type="hidden" name="item_description" value="{{ item.product_related_name.first.product_description }}" />
            <input type="hidden" name="item_image" value="{{ item.product_image_front }}" />
            {% if item.product_discounted_price != null %}
                <input type="hidden" name="amount" value="{{ item.product_discounted_price }}" />
             {% else %}
                <input type="hidden" name="amount" value="{{ item.product_price }}" />
            {% endif %}
            <input type="hidden" name="item_quantity" value="1" />
            <input type="submit" name="submit" value="Add to cart" class="button" />
        </fieldset>
    </form>
</div>