{% load static %}
<html lang="zxx">
<head>
<title>Autolux</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Niconne" rel="stylesheet">
<!-- /font files -->
<!-- css files -->
{#<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />#}
<link href="{% static 'css/coming_soon.css' %} " rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/coming_soon_font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- /css files -->
<body>
	<div class="w3l-banner-layer">
	<div class="container coming-soon-settings">
        <div class="row">
            <div class="col-md-12" align="center">
                <h2 class="txt-w3_agile">stay tuned <br>we're launching soon. </h2>
                <span class="bar"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12" align="center">
                <div class="agile_social_banner">
                    <ul class="social_list">
                        <li><a href="https://www.facebook.com/autolux.pk/" class="social_facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                        <li><a href="https://www.instagram.com/autolux.pk/" class="social_instagram"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                        <li><a href="https://wa.me/923018430678" class="social_whatsapp">
                            <i class="fa fa-whatsapp"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

	</div>
	</div>
</body>
</html>