{% extends "base.html" %}
{% load static %}
    {% block css %}
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/gif" sizes="16x16">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css'/>
        <!-- //for bootstrap working -->
        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
    {% endblock %}
{% block content %}
    <div class="contact-us-image">
        <img style="width: 100%" src="{% static 'images/contact_us.jpg' %}">
        <div class="container myclass">
            <div class="col-md-offset-5 col-md-3">
            <h3 class="contact-us-title-setting" style="color: ghostwhite;">C<span>ontact Us </span></h3>
        </div>
{#        <h3 class="contact-us-title-setting">C<span>ontact Us </span></h3>#}
        <!--/w3_short-->
             <div class="services-breadcrumb">
                <div class="agile_inner_breadcrumb">

                   <ul class="w3_short">
                        <li><a href="{% url 'index' %}">Home</a><i>|</i></li>
                        <li>Contact</li>
                    </ul>
                 </div>
            </div>
	   <!--//w3_short-->
	    </div>
    </div>
   <!--/contact-->
    <div class="banner_bottom_agile_info">
	    <div class="container">
		  <div class="contact-grid-agile-w3s">
				<div class="col-md-4 contact-grid-agile-w3">
						<div class="contact-grid-agile-w31">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<h4>Address</h4>
                            <p>Lahore, Pakistan</p>
{#							<p>301-CC Street 5 Phase 4 DHA Lahore,<span>Punjab 54000</span></p>#}
						</div>
					</div>
					<div class="col-md-4 contact-grid-agile-w3">
						<div class="contact-grid-agile-w32">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<h4>Call Us</h4>
{#							<p>+1234 758 839<span>+1273 748 730</span></p>#}
                            <a href="tel:+1800229933"><p><span>+92 301 8430678</span></p></a>
						</div>
					</div>
					<div class="col-md-4 contact-grid-agile-w3">
						<div class="contact-grid-agile-w33">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
							<h4>Email</h4>
							<p>
{#                                <a href="mailto:autoluxpk@gmail.com">autoluxpk@gmail.com</a>#}
                                <span><a href="mailto:autoluxpk@gmail.com">autoluxpk@gmail.com</a></span>
                            </p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
	   </div>
	 </div>
    <div id="map" style="width: 100%; height: 400px" ></div>


<div class="container faq-body custom-faq">
    <div class="alert alert-warning alert-dismissible" role="alert" style="text-align: center; font-size: 15px;">
        <button type="button" class="close close-button-custom" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        This section contains a wealth of information, related to <strong>Autolux</strong> and its store. If you cannot find an answer to your question,
        make sure to contact us.
    </div>
    <div class="row site_content custom-row-class">

        <div class="col-md-1 faq_num">1</div>
        <div class="col-md-10 faq">
            <h4 class="faq_question">What is the delivery time of my order?</h4>
             <div class="faq_answer">
             <p>
                 After the successful completion of order and confirmation from our representative,
                    on average it will take 2-3 working days for our package to be delivered.
             </p>
             </div>
        </div>
        <div class="clearfix"></div>
        <br>

       	<div class="col-md-1 faq_num faq_two">2</div>
        <div class="col-md-10 faq">
            <h4 class="faq_question">My Product is faulty/broken, how to get it replaced?</h4>
             <div class="faq_answer">
             <p>Please leave an email at autoluxpk@gmail.com or contact us at 0301-8430678.
                Our representative will sort things out for you.
             </p>
             </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-1 faq_num faq_three">3</div>
        <div class="col-md-10 faq faq_three_text">
            <h4 class="faq_question">What is the duration of my product’s warranty?</h4>
             <div class="faq_answer">
             <p>Electronics have no warranty unless mentioned otherwise by the manufacturer. For
                other products like body parts etc., we provide a 7-day money back guarantee.
             </p>
             </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>

   <div class="banner_bottom_agile_info">
	<div class="container">
	   <div class="agile-contact-grids map-distance">
            <div class="agile-contact-left">
                <div class="row">
                    <div class="col-md-6 address-grid">
                        <h4>For More <span>Information</span></h4>
                            <div class="mail-agileits-w3layouts">
                                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                <div class="contact-right">
                                    <p>Telephone </p><span>+92 301 8430678</span>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="mail-agileits-w3layouts">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <div class="contact-right">
                                    <p>Mail </p><a href="mailto:autoluxpk@gmail.com">autoluxpk@gmail.com</a>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="mail-agileits-w3layouts">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <div class="contact-right">
                                    <p>Location</p><span>Lahore, Pakistan</span>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                    </div>
                    <div class="col-md-6 contact-form">
                        <h4 class="white-w3ls">Contact <span>Form</span></h4>
                        <form action="{% url 'contact' %}" method="get">
                            {% csrf_token %}
                            <div class="styled-input agile-styled-input-top">
                                <input type="text" name="Name" required="">
                                <label>Name</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="email" name="Email" required="">
                                <label>Email</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="text" name="Subject" required="">
                                <label>Subject</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <textarea name="Message" required=""></textarea>
                                <label>Message</label>
                                <span></span>
                            </div>
                            <input type="submit" value="SEND">
                        </form>
                    </div>
                </div>
            </div>
				<div class="clearfix"> </div>
			</div>
       </div>
	</div>
{#        <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>#}
{#    AIzaSyBjYDeuC5el355k15AS89_6eevDWIRmCac#}


 <!--//contact-->
    <script>
// Initialize and add the map
function initMap() {
  var uluru = {lat: 43.274471, lng: -0.108580};
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?callback=initMap">
    </script>

{% endblock %}
