{% load static %}
<footer>
    <!--/grids-->
<div class="coupons">
		<div class="coupons-grids text-center">
			<div class="w3layouts_mail_grid">
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>FREE SHIPPING</h3>
						<p>We provide nation-wide free shipping facility</p>
					</div>
				</div>
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-headphones" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>Help-line</h3>
						<p>Active help-line from 10am – 7pm</p>
					</div>
				</div>
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-shopping-bag" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>Warranty</h3>
						<p> We provide 7-Days money-back guarantee for your convenience</p>
					</div>
				</div>
					<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-gift" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>Cash on Delivery</h3>
						<p>This service is available for your convenience</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
</div>
<!--grids-->
<!-- footer -->
<div class="footer">
	<div class="footer_agile_inner_info_w3l">
		<div class="col-md-4 footer-left">
            <h2><a href="{% url 'index' %}"><img src="{% static 'images/300x165.png' %}" alt=" " style="height: 5em;"> </a></h2>
			<p>AutoLux.pk is dedicated to provide unique and rare car accessories that are either
                not available in Pakistan or are extremely rare. We aim to import such automotive
                products and provide them at reasonable and competitive prices. All of our
                products and car accessories are self-imported by taking the market dynamics into
                account. However, we also arrange one-off shipments on pre-order for interested
                customers.
             </p>

            <a href="https://www.facebook.com/autolux.pk/" class="fa fa-facebook" data-toggle="modal"></a>
            <a href="https://www.instagram.com/autolux.pk/" class="fa fa-instagram" data-toggle="modal"></a>
            <a href="https://wa.me/923018430678" class="footer-whatsapp-fa fa-whatsapp footer-whatsapp-custom-class" data-toggle="modal"></a>

		</div>
		<div class="col-md-8 footer-right">
			<div class="sign-grds">
				<div class="col-md-4 col-md-offset-1 sign-gd">
					<h4>Our <span>Information</span> </h4>
					<ul>
						<li><a href="{% url 'index' %}">Home</a></li>
						<li><a href="{% url 'about' %}">About</a></li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
						<li><a href="{% url 'contact' %}">FAQs</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-md-offset-1 sign-gd-two">
					<h4>Store <span>Information</span></h4>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>
                                    <a href="tel:+923018430678">+92 301 8430678</a>
                                </p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p><a href="mailto:autoluxpk@gmail.com">autoluxpk@gmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p>Lahore, Pakistan</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<p class="copy-right">&copy 2018 AutoLux. All rights reserved </p>
	</div>
</div>
<!-- //footer -->
</footer>