{% load static %}
<header>
    <!-- header -->
<div class="header" id="home">
	<div class="container">
		<ul>
		    <li> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Sign In </a></li>
			<li> <a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign Up </a></li>
			<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="{% url 'contact' %}">Contact</a></li>
			<li><i class="fa fa-question" aria-hidden="true"></i><a href="{% url 'about' %}">About</a></li>
		</ul>
	</div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">

		<!-- header-bot -->
			<div class="col-md-4 logo_agile">
				<h1><a href="{% url 'index' %}">AUTO<span>LUX</span> </a></h1>
			</div>
        <!-- header-bot -->
				<div class="col-md-4 header-middle">
					<form action="#" method="post">
							<input type="search" name="search" placeholder="Search here..." required="">
							<input type="submit" value=" ">
						<div class="clearfix"></div>
					</form>
				</div>
		<div class="col-md-1 col-md-offset-2  top_content">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1">
{#				<form action="#" method="post" class="last">#}
{#					<input type="hidden" name="cmd" value="_cart">#}
{#					<input type="hidden" name="display" value="1">#}
{#					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>#}
{#				</form>#}
{#                <button href="#" class="btn btn-info btn-lg">#}
{#                  <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart#}
{#                </button>#}


                <a href="#checkoutModal" role="button" id="checkout-modal-button" class="btn" data-toggle="modal"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a>




			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<li class="active menu__item menu__item--current"><a class="menu__link" href="{% url 'index' %}"><i class="fa fa-home"></i> <span class="sr-only">(current)</span></a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Interior' %}">Interior</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Exterior'%}">Exterior</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Mats'%}">Mats</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Detailing'%}">Car Detailing</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Leds'%}">LED lights</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Suvs'%}">4x4/SUV items</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Utilites'%}">Utilities</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Others'%}">Others </a></li>
				  </ul>
				</div>
			  </div>
			</nav>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner-top -->
<!-- Modal1 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-8 modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
							<div class="styled-input agile-styled-input-top">
                                {{ signIn.email }}
                                <label>{{ signIn.email.label }}</label>
								<span></span>
							</div>
							<div class="styled-input">
                                 {{ signIn.password }}
                                <label>{{ signIn.password.label }}</label>
								<span></span>
							</div>
							<input type="submit" value="Sign In">
						</form>
						  <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
														</ul>
														<div class="clearfix"></div>
														<p><a href="#" data-toggle="modal" data-target="#myModal2" > Don't have an account?</a></p>

						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal1 -->
<!-- Modal2 -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-8 modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>
						 <form action="{% url 'index' %}" method="post">
                             {% csrf_token %}
                            <div class="styled-input agile-styled-input-top">
                                {{ signUp.full_Name }}
                                <label>{{ signUp.full_Name.label }}</label>
								<span></span>
							</div>
                            <div class="styled-input">
                                {{ signUp.email }}
                                <label>{{ signUp.email.label }}</label>
								<span></span>
							</div>
                            <div class="styled-input">
                                {{ signUp.password1 }}
                                <label>{{ signUp.password1.label }}</label>
								<span></span>
							</div>
                             <span id='password_validation'></span>
                            <div class="styled-input">
                                {{ signUp.password2 }}
                                <label>{{ signUp.password2.label }}</label>
								<span></span>
							</div>
                             <span id='password_not_match'></span>
                            <div class="styled-input">
                                {{ signUp.address }}
                                <label>{{ signUp.address.label }}</label>
								<span></span>
							</div>

							<input type="submit" value="Sign Up">
						</form>
						  <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
								<li><a href="#" class="facebook">
									  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
									  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
								<li><a href="#" class="instagram">
									  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
									  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
							</ul>
							<div class="clearfix"></div>
							<p><a href="#">By clicking register, I agree to your terms</a></p>

						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal2 -->

    <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog">
			<div class="modal-dialog custom-modal">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
{#						<h1>Hello this is my modal</h1>#}
                            <h1>Shopping Cart</h1>

                                <div class="shopping-cart">

                                  <div class="column-labels">
                                    <label class="product-image">Image</label>
                                    <label class="product-details">Product</label>
                                    <label class="product-price">Price</label>
                                    <label class="product-quantity">Quantity</label>
                                    <label class="product-removal">Remove</label>
                                    <label class="product-line-price">Total</label>
                                  </div>

                                  <div id="add-items-here">

                                  </div>

{#                                  <div class="product">#}
{#                                    <div class="product-image">#}
{#                                      <img id="cart-product-image" src="{% static 'images/inner1.jpg' %}">#}
{#                                    </div>#}
{#                                    <div class="product-details">#}
{#                                      <div class="product-title" id="cart-product-title">Dingo Dog Bones</div>#}
{#                                      <p class="product-description" id="cart-product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>#}
{#                                    </div>#}
{#                                    <div class="product-price" id="cart-product-price">12.99</div>#}
{#                                    <div class="product-quantity">#}
{#                                      <input type="number" value="1" min="1" />#}
{#                                    </div>#}
{#                                    <div class="product-removal">#}
{#                                      <button class="remove-product">#}
{#                                        Remove#}
{#                                      </button>#}
{#                                    </div>#}
{#                                    <div class="product-line-price" id="cart-product-price">12.99</div>#}
{#                                  </div>#}

                                  <div class="totals">
{#                                    <div class="totals-item">#}
{#                                      <label>Subtotal</label>#}
{#                                      <div class="totals-value" id="cart-subtotal">71.97</div>#}
{#                                    </div>#}
{#                                    <div class="totals-item">#}
{#                                      <label>Tax (5%)</label>#}
{#                                      <div class="totals-value" id="cart-tax">3.60</div>#}
{#                                    </div>#}
{#                                    <div class="totals-item">#}
{#                                      <label>Shipping</label>#}
{#                                      <div class="totals-value" id="cart-shipping">15.00</div>#}
{#                                    </div>#}
                                    <div class="totals-item totals-item-total">
                                      <label>Grand Total</label>
                                      <div class="totals-value" id="cart-total">0.00</div>
                                    </div>
                                  </div>
{#                                      <button class="checkout">Online Payment</button>#}
                                    <form action="{% url 'place_order' %}" method="GET">
                                        {% csrf_token %}
                                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="{{ stripe_key }}"
                                            data-amount="2000"
                                            data-name="AutoLux"
                                            data-description="Your Product"
                                            data-image="{% static 'images/logo.png' %}"
                                            data-currency="usd">
                                        </script>
                                    </form>
                                      <button class="checkout" onclick="location.href='{% url 'place_order' %}'">Pay on delivery</button>

                                </div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>

</header>
