{% load static %}
{% load widget_tweaks %}
<header>
    <!-- header -->
<div class="header" id="home">
	<div class="container-fluid">
        <div class="col-md-12 top-header-custom" align="center">
            <ul>
                <li class="header-line"><i class="fa fa-phone" aria-hidden="true"></i> <a href="{% url 'contact' %}">Contact</a></li>
                <li><i class="fa fa-question" aria-hidden="true"></i><a href="{% url 'about' %}">About</a></li>
            </ul>
        </div>
	</div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">

		<!-- header-bot -->
        <div class="col-md-4">
            <div class="logo-custom">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/main_logo.png' %}">
                </a>
			</div>
        </div>

        <!-- header-bot -->
            <div class="col-md-4 header-middle header-middle-custom">
                <form action="{% url 'products' item_name="SearchResults" %}" method="GET">
                    {% render_field filter.form.product_title type="search" id="search-term-id" class="input_search_header_custom" placeholder="Search here..." required="false"%}
                    <input class="input_submit_header_custom" type="submit" value=" ">
                    <div class="clearfix"></div>
                </form>
            </div>
		<div class="col-md-4 top_content top_content_custom">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1 custom-header-social-links">

                <a href="#checkoutModal" id="checkout-modal-button" class="fa fa-cart-arrow-down" data-toggle="modal">
                </a>
                <a href="https://www.facebook.com/autolux.pk/" class="fa fa-facebook" data-toggle="modal"></a>
                <a href="https://www.instagram.com/autolux.pk/" class="fa fa-instagram" data-toggle="modal"></a>
                <span class="whatsapp-logo"><a href="https://wa.me/923018430678" class="whatsapp-fa fa-whatsapp" data-toggle="modal"></a></span>

			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list menu_list_custom">
					<li class="active menu__item menu__item--current"><a class="menu__link" href="{% url 'index' %}"><i class="new_fa fa-home"></i> <span class="sr-only">(current)</span></a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Interior' %}">Interior</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Exterior'%}">Exterior</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Mats'%}">Mats</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Detailing'%}">Car Detailing</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Leds'%}">LED lights</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Suvs'%}">4x4/SUV items</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Utilites'%}">Outdoor Utilities</a></li>
					<li class=" menu__item"><a class="menu__link" href="{% url 'products' item_name='Others'%}">Others </a></li>
                      <li class=" menu__item"><a class="menu__link" href="/blog" >Blogs</a></li>
                    <li class=" menu__item"><a class="menu__link" href="#filter-by-car" role="button" data-toggle="modal">Filter By Car </a></li>
				  </ul>
				</div>
			  </div>
			</nav>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner-top -->
<!-- Modal1 -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-8 modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
							<div class="styled-input agile-styled-input-top">
{#                                {{ signIn.email }}#}
                                {% render_field signIn.email id="email-1" %}
                                <label>{{ signIn.email.label }}</label>
								<span></span>
							</div>
							<div class="styled-input">
                                 {{ signIn.password }}
                                <label>{{ signIn.password.label }}</label>
								<span></span>
							</div>
							<input type="submit" value="Sign In">
						</form>
						  <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                            <li><a href="#" class="facebook">
                                  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
                            <li><a href="#" class="instagram">
                                  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
                            </ul>
                            <div class="clearfix"></div>
                            <p><a href="#" data-toggle="modal" data-target="#myModal2" > Don't have an account?</a></p>

						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal1 -->
<!-- Modal2 -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-8 modal_body_left modal_body_left1">
						<h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>
						 <form action="{% url 'index' %}" method="post">
                             {% csrf_token %}
                            <div class="styled-input agile-styled-input-top">
                                {{ signUp.full_Name }}
                                <label>{{ signUp.full_Name.label }}</label>
								<span></span>
							</div>
                            <div class="styled-input">
                                {{ signUp.email }}
                                <label>{{ signUp.email.label }}</label>
								<span></span>
							</div>
                            <div class="styled-input">
                                {{ signUp.password1 }}
                                <label>{{ signUp.password1.label }}</label>
								<span></span>
							</div>
                             <span id='password_validation'></span>
                            <div class="styled-input">
                                {{ signUp.password2 }}
                                <label>{{ signUp.password2.label }}</label>
								<span></span>
							</div>
                             <span id='password_not_match'></span>
                            <div class="styled-input">
                                {{ signUp.address }}
                                <label>{{ signUp.address.label }}</label>
								<span></span>
							</div>

							<input type="submit" value="Sign Up">
						</form>
						  <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
								<li><a href="#" class="facebook">
									  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
									  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
								<li><a href="#" class="instagram">
									  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
									  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
							</ul>
							<div class="clearfix"></div>
							<p><a href="#">By clicking register, I agree to your terms</a></p>

						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal2 -->

    <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog">
			<div class="modal-dialog custom-modal">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
{#						<h1>Hello this is my modal</h1>#}
                            <h1 class="shopping-cart-heading">Shopping Cart</h1>

                                <div class="shopping-cart">

                                  <div class="column-labels">
                                    <label class="product-image">Image</label>
                                    <label class="product-details">Product</label>
                                    <label class="product-price">Price</label>
                                    <label class="product-quantity">Quantity</label>
                                    <label class="product-removal">Remove</label>
                                    <label class="product-line-price">Total</label>
                                  </div>

                                  <div id="add-items-here">

                                  </div>

                                  <div class="totals">
                                    <div class="totals-item totals-item-total">
                                      <label>Grand Total</label>
                                      <div class="totals-value" id="cart-total">0.00</div>
                                    </div>
                                  </div>
                                    <button type="button" class="btn btn-info btn-lg account-details" data-toggle="modal" data-target="#account-details-modal">Account Details</button>
{#                                    <form action="{% url 'place_order' %}" method="GET" class="custom-stripe-button">#}
{#                                        {% csrf_token %}#}
{#                                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"#}
{#                                            data-key="{{ stripe_key }}"#}
{#                                            data-name="AutoLux"#}
{#                                            data-description="Best accessories in town"#}
{#                                            data-image="{% static 'images/logo.png' %}"#}
{#                                            data-currency="usd">#}
{#                                        </script>#}
{#                                    </form>#}
                                      <button class="btn btn-lg checkout" onclick="location.href='{% url 'place_order' %}'">Cash on delivery</button>
                                </div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>

{#    Filter by Car Modal #}

<div class="modal fade" id="filter-by-car" tabindex="-1" role="dialog">
      <div class="modal-dialog filter-by-car-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <div class="row">
                <div class="col-md-4">
                  Make
                </div>
                <div class="col-md-4">
                  Model
                </div>
                <div class="col-md-4">
                  Year
                </div>
            </div>
          </div>
            <div class="modal-body modal-body-sub_agile">
              <div class="row">
                <div class="col-md-4 remove-space">
                  <div class="car-make ">
                    <ul class="filter-by-car-ul">
                        {% for item in all_cars.all %}
                            <li id="filter-by-make-id-{{ item.id }}" class="filter-by-car-li make" ><a class="car-filter-title">{{ item.car_make }} <i class="custom-fa fa-angle-right"></i></a></li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 remove-space">
                  <div class="car-model ">
                      <ul class="filter-by-car-ul">
                          <li id="add-filtered-model-data"></li>
                      </ul>
                  </div>
                </div>
                <div class="col-md-4 remove-space">
                  <div class="car-year ">
                    <ul class="filter-by-car-ul">
                      <li id="add-filtered-year-data" ></li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="filter-by-car-buttons">
                    <form action="{% url 'products' item_name="filterbycar" %}" method="get" id="car-selection-form">
                       <fieldset>
                           <input id="selected-car-make" type="hidden" name="make" value="" />
                           <input id="selected-car-model" type="hidden" name="model" value="" />
                           <input id="selected-car-year" type="hidden" name="year" value="" />
                       </fieldset>
                      <div class="modal-footer">
                        <button id="filter-done-button" class="btn done-button" onclick="searchByCarFunc()">Done</button>
                        <button type="button" class="btn cancel-button" onclick="close_modal()">Cancel</button>
                      </div>
                    </form>
                </div>
              </div>
             <!-- </div> -->

            <div class="clearfix"></div>
          </div>
        </div>
        <!-- //Modal content-->
      </div>
    </div>

    <div class="modal fade" id="item-added-to-cart" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body modal-body-sub_agile">

                <p>Item Added to your cart</p>
             <!-- </div> -->

            <div class="clearfix"></div>
          </div>
        </div>
        <!-- //Modal content-->
      </div>
    </div>

    <div class="modal fade" id="item-already-in-cart" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body modal-body-sub_agile">

                <p>Item already in cart</p>
             <!-- </div> -->

            <div class="clearfix"></div>
          </div>
        </div>
        <!-- //Modal content-->
      </div>
    </div>

    <div class="modal fade" id="account-details-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="bank-accounts-details">
                <div align="center">
                    <img src="{% static 'images/Auto Lux for about us.png' %}">
                </div>
             <h3 class="bank-details-heading">Our bank details are </h3>
            <div class="custom-clearfix"></div>
            <div class="row">
                <div class="col-md-6 custom-mobile-view-setting">
                    <h4 class="bank-title">Meezan bank</h4>
                    <h5><span>Acc title:</span> Muhammad Yousuf</h5>
                    <h5><span>Acc #:</span> 0207-0101227672</h5>
                    <h5><span>Branch code:</span> 0207</h5>
                </div>
                <div class="col-md-6 custom-mobile-view-setting">
                    <h4 class="bank-title">Bank Al-Falah</h4>
                    <h5><span>Acc title:</span> Muhammad Yousuf</h5>
                    <h5><span>Acc #:</span> 0093001006364270</h5>
                    <h5><span>Branch code:</span> 0093</h5>
                </div>
            </div>
            <div class="custom-clearfix"></div>
            <div class="row">
                <div class="col-md-6 custom-mobile-view-setting">
                    <h4 class="bank-title">Easypaisa details:</h4>
                    <h5>Muhammad Yousuf</h5>
                    <h5>03018430678</h5>
                    <h5>35202-41685203</h5>
                </div>
                <div class="col-md-6 custom-mobile-view-setting">
                    <h4 class="bank-title">JazzCash detail:</h4>
                    <h5>Muhammad Yousuf</h5>
                    <h5>03018430678</h5>
                    <h5>35202-41685203</h5>
                </div>
            </div>
            <div class="custom-clearfix"></div>
{#            <p>Note: Please transfer funds into our account and email us the screen shot with all details.</p>#}
                <div class="alert alert-warning alert-dismissible" role="alert" style="font-size: 12px; margin-top: 20px">
                    <button type="button" class="close close-button-custom" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <strong>Note:</strong> Please transfer funds into our account and email us the screen shot with all details
                </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- //Modal content-->
      </div>
    </div>

</header>
