{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load templatetags %}

{% block css %}
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/gif" sizes="16x16">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
          rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}

    <div class="contact-us-image">
        {% if page_title == "Interior" %}
            <img class="category-header-img" src="{{ category_wise_images.interior.url }}" alt="{{ category_wise_images.interior_alt }}">
        {% elif  page_title == "Exterior" %}
            <img class="category-header-img" src="{{ category_wise_images.exterior.url }}" alt="{{ category_wise_images.exterior_alt }}">
        {% elif  page_title == "Mats" %}
            <img class="category-header-img" src="{{ category_wise_images.mats.url }}" alt="{{ category_wise_images.mats_alt }}">
        {% elif  page_title == "Detailing" %}
            <img class="category-header-img" src="{{ category_wise_images.car_detailing.url }}" alt="{{ category_wise_images.car_detailing_alt }}">
        {% elif  page_title == "Leds" %}
            <img class="category-header-img" src="{{ category_wise_images.led_lights.url }}" alt="{{ category_wise_images.led_lights_alt }}">
        {% elif  page_title == "4x4/SUV items" %}
            <img class="category-header-img" src="{{ category_wise_images.suv_items.url }}" alt="{{ category_wise_images.suv_items_alt }}">
        {% elif  page_title == "Outdoor Utilities" %}
            <img class="category-header-img" src="{{ category_wise_images.outdoor_utilities.url }}" alt="{{ category_wise_images.outdoor_utilities_alt }}">
        {% elif  page_title == "Others" %}
            <img class="category-header-img" src="{{ category_wise_images.others.url }}" alt="{{ category_wise_images.others_alt }}">
        {% else %}
            <img class="category-header-img" src="{{ category_wise_images.interior.url }}" alt="{{ category_wise_images.interior_alt }}">
        {% endif %}
        <div class="col-md-12 myclass">
            <div class="col-md-offset-5 col-md-3">
                <h3 class="contact-us-title-setting" style="color: ghostwhite; text-transform: uppercase">
                    {{ page_title }}
                </h3>
            </div>

            <div class="services-breadcrumb">
                <div class="agile_inner_breadcrumb">

                    <ul class="w3_short">
                        <li><a href="{% url 'index' %}">Home</a><i>|</i></li>
                        <li>{{ page_title }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-bootom-w3-agileits">
        <div class="container">
            <!-- mens -->
            <div class="col-md-4 products-left">
                <div class="css-treeview">
                    <h4>Categories</h4>
                    <ul class="tree-list-pad">
                        <li><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> <a
                                href="{% url 'products' item_name='Interior' %}">Interior</a></label></li>
                        <li><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> <a
                                href="{% url 'products' item_name='Exterior' %}">Exterior</a></label></li>
                        <li><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> <a
                                href="{% url 'products' item_name='Mats' %}">Mats</a></label></li>
                        <li><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> <a
                                href="{% url 'products' item_name='Detailing' %}">Car Detailing</a></label></li>
                        <li><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> <a
                                href="{% url 'products' item_name='Leds' %}">LED lights</a></label></li>
                        <li><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> <a
                                href="{% url 'products' item_name='Suvs' %}">SUV Items</a></label></li>
                        <li><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> <a
                                href="{% url 'products' item_name='Utilites' %}">Outdoor Utilities</a></label></li>
                        <li><label for="item-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> <a
                                href="{% url 'products' item_name='Others' %}">Others</a></label></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-8 products-right">
                <h5>Products</h5>

                {% if page_title != 'Filter By Car' %}
                    <form method="get" action="{% url 'products' item_name=item_category %}">

                    <div class="container main-filter-div">
                          <div class="span2 investRange">
                            <div class="btn-group">

                              <button id="min-max-price-range" class="form-control selectpicker select-btn  dropdown-toggle searchParams" href="#" data-toggle="dropdown" tabindex="6">
                                <div class="filter-option pull-left span_price">
                                  <span id="price_range1"> </span> - <span id="price_range2">Price Range</span> </div>
                                <span class="bs-caret" style="float: right;"><span class="caret"></span></span>
                              </button>

                              <div class="dropdown-menu ddRange" role="menu" style="width: 295px;padding-top: 12px;">
                                <div class="rangemenu">
                                  <div class="freeformPrice">
                                    <div class="col-md-5">
                                      <input name="product_price_min" id="min_price_id" type="text" class="min_input form-control" placeholder="Min Price">
                                    </div>
                                    <div class="col-md-2 "><span class="arrow"></span></div>
                                    <div class="col-md-5">
                                      <input name="product_price_max" id="max_price_id" type="text" class="max_input form-control" placeholder="Max Price">
                                    </div>
                                  </div>

                                  <div class="price_Ranges rangesMax col-md-5">
                                    <a class="max_value" value="" href="javascript:void(0)">Any Max</a>
                                    <a class="max_value" value="999" href="javascript:void(0)">999</a>
                                    <a class="max_value" value="4999" href="javascript:void(0)">4999</a>
                                    <a class="max_value" value="9999" href="javascript:void(0)">9999</a>
                                    <a class="max_value" value="49999" href="javascript:void(0)">49999</a>
                                    <a class="max_value" value="99999" href="javascript:void(0)">99999</a>
                                    <a class="max_value" value="199999" href="javascript:void(0)">199999</a>
                                    <a class="max_value" value="499999" href="javascript:void(0)">499999</a>
                                    <a class="max_value" value="999999" href="javascript:void(0)">999999</a>
                                    <a class="max_value" value="999999" href="javascript:void(0)">999999</a>
                                    <a class="max_value" value="1499999" href="javascript:void(0)">1499999</a>
                                  </div>
                                  <div class="col-md-2"> </div>

                                  <div class="price_Ranges rangesMin col-md-5">
                                    <a class="min_value" value="" href="javascript:void(0)">Any Min</a>
                                    <a class="min_value" value="100" href="javascript:void(0)">100</a>
                                    <a class="min_value" value="1000" href="javascript:void(0)">1000</a>
                                    <a class="min_value" value="5000" href="javascript:void(0)">5000</a>
                                    <a class="min_value" value="10000" href="javascript:void(0)">10000</a>
                                    <a class="min_value" value="50000" href="javascript:void(0)">50000</a>
                                    <a class="min_value" value="100000" href="javascript:void(0)">100000</a>
                                    <a class="min_value" value="200000" href="javascript:void(0)">200000</a>
                                    <a class="min_value" value="500000" href="javascript:void(0)">500000</a>
                                    <a class="min_value" value="1000000" href="javascript:void(0)">1000000</a>
                                    <a class="min_value" value="1200000" href="javascript:void(0)">1200000</a>
                                  </div>
                                </div>

                                <div class="btnClear">
                                  <a href="javascript:void(0)" class="btn btn-link">Clear</a>
                                </div>
                              </div>

                            </div>
                          </div>

                              {% render_field filter.form.sorting class="form-control" %}
                              {% render_field filter.form.product_category class="form-control" %}
                              <input type="hidden" value="{{ currentPage }}" name="page">
                                {% if page_title == 'Search Results' %}
                                    <input type="hidden" value="{{ searchTerm }}" name="product_title">
                                {% endif %}
                                <button type="submit" class="submit-filters">Apply Filters</button>
                        </div>
                    </form>
                {% endif %}
                <div class="single-pro row product_listing">
                    {% if object_list and foundNothing == False %}
                        {% for item in object_list %}

                            <div class="col-md-4 product-men">
                                <div class="men-pro-item simpleCart_shelfItem h-100-p">
                                    <div class="h-200">
                                        <div class="h-100-p">
                                            <a href="{% url 'single' category=item.product_category itemslug=item.product_slug %}" onclick='productClick("{{ item.id }}")'>
                                                <div id="product-image-{{ item.id }}" class="men-thumb-item men-thumb-item-custom-products h-100-p flex-row">
                                                    <img src="{{ item.product_image_front.url }}" alt="{{ item.product_image_front_alt }}"
                                                         class="pro-image-front">
                                                    <img src="{{ item.product_image_back.url }}" alt="{{ item.product_image_back_alt }}" class="pro-image-back h-100-p flex-row">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="item-info-product h-120">
                                        <h4><a id="title-{{ item.id }}" href="{% url 'single' category=item.product_category itemslug=item.product_slug %}">{{ item.product_title }}</a></h4>
                                        {% if item.product_discounted_price != null %}
                                            <div class="info-product-price">
                                                <del>Rs {{ item.product_price|floatformat }}</del>
                                                <span class="item_price" id="discounted-price-{{ item.id }}">Rs {{ item.product_discounted_price|floatformat }}</span>
                                            </div>
                                        {% else %}
                                            <div class="info-product-price">
                                                <span class="item_price" id="price-{{ item.id }}">Rs {{ item.product_price|floatformat }}</span>
                                            </div>
                                        {% endif %}

                                        <button class="add-to-cart-btn" id="addtocart-{{ item.id }}" onclick='addItemToCart("{{ item.id }}")'>
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    {% else %}
                        <div style="text-align: center; font-weight: bold;">No results found</div>
                    {% endif %}

                    <div class="clearfix"></div>
                </div>
            {% if is_paginated %}
                  <ul class="pagination pagination_custom">
                    {% if page_obj.has_previous %}
                        <li><a href="{% query_transform page=page_obj.previous_page_number %}">&laquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                      {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                          <li><a href="{% query_transform page=i %}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="{% query_transform page=page_obj.next_page_number  %}">&raquo;</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
                    <div class="clearfix"></div>

                </div>

        </div>
    </div>

    <!-- js -->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <!-- //js -->

    <!-- Custom-JavaScript-File-Links -->
    <!---->
    <script type='text/javascript'>//<![CDATA[
    $(window).load(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 1000000,
            values: [100, 500000],
            slide: function (event, ui) {
                $("#amount").val("Rs" + ui.values[0] + " - Rs" + ui.values[1]);
            }
        });
        $("#amount").val("Rs" + $("#slider-range").slider("values", 0) + " - Rs" + $("#slider-range").slider("values", 1));

    });//]]>

    function load_data() {
        $('#order_value').val($('#country1').find(':selected').text());
        $('#price_value').val($('#amount').val());
        $('#items_value').val($('#country2').find(':selected').text());
        $('#items_categories').val($('#categories_search').find(':selected').text());
        $('#sorting-form-id').submit();
    }

    {% if searched_item %}
        $(document).ready(function () {
            $('#search-term-id').val('{{ searched_item }}');
        });
    {% endif %}

    </script>

    <script>
        var min_price_value, max_price_value;
        $('#min_price_id').focusout((val) => {
            min_price_value = $('#min_price_id').val();
            document.getElementById('price_range1').innerHTML = min_price_value;
        });

        $('#max_price_id').focusout((val) => {
            max_price_value = $('#max_price_id').val();
            document.getElementById('price_range2').innerHTML = max_price_value;
        });

        function getUrlVars()
        {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        var queryParams = getUrlVars();

        if(queryParams['product_price_min']) {
            document.getElementById('price_range1').innerHTML = queryParams['product_price_min'];
        }

        if(queryParams['product_price_max']) {
            document.getElementById('price_range2').innerHTML = queryParams['product_price_max'];
        }

    </script>
    <script>

          $('.dropdown-menu.ddRange')
        .click(function(e) {
          e.stopPropagation();
        });

      function disableDropDownRangeOptions(max_values, minValue) {
        if (max_values) {
          max_values.each(function() {
            var maxValue = $(this).attr("value");

            if (parseInt(maxValue) < parseInt(minValue)) {
              $(this).addClass('disabled');
            } else {
              $(this).removeClass('disabled');
            }
          });
        }
      }

      function setuinvestRangeDropDownList(min_values, max_values, min_input, max_input, clearLink, dropDownControl) {
          min_values.click(function() {
          var minValue = $(this).attr('value');
          min_input.val(minValue);
          document.getElementById('price_range1').innerHTML = minValue;

          disableDropDownRangeOptions(max_values, minValue);

          validateDropDownInputs();
        });

        max_values.click(function() {
          var maxValue = $(this).attr('value');
          max_input.val(maxValue);
          document.getElementById('price_range2').innerHTML = maxValue;

          toggleDropDown();
        });

        clearLink.click(function() {
          min_input.val('');
          max_input.val('');

          disableDropDownRangeOptions(max_values);

          validateDropDownInputs();
        });

        min_input.on('input',
          function() {
            var minValue = min_input.val();

            disableDropDownRangeOptions(max_values, minValue);
            validateDropDownInputs();
          });

        max_input.on('input', validateDropDownInputs);

        max_input.blur('input',
          function() {
            toggleDropDown();
          });

        function validateDropDownInputs() {
          var minValue = parseInt(min_input.val());
          var maxValue = parseInt(max_input.val());

          if (maxValue > 0 && minValue > 0 && maxValue < minValue) {
            min_input.addClass('inputError');
            max_input.addClass('inputError');

            return false;
          } else {
            min_input.removeClass('inputError');
            max_input.removeClass('inputError');

            return true;
          }
        }

        function toggleDropDown() {
          if (validateDropDownInputs() &&
            parseInt(min_input.val()) > 0 &&
            parseInt(max_input.val()) > 0) {

            // auto close if two values are valid

              if(dropDownControl && dropDownControl.dropdown) {
                dropDownControl.dropdown('toggle');
              }
          }
        }
      }

      setuinvestRangeDropDownList(
        $('.investRange .min_value'),
        $('.investRange .max_value'),
        $('.investRange .freeformPrice .min_input'),
        $('.investRange .freeformPrice .max_input'),
        $('.investRange .btnClear'),
        $('.investRange .dropdown-toggle'));

    </script>

{% endblock %}
