{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/gif" sizes="16x16">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<link href="{% static 'css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css'/>
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />

<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<meta name="description" content="{{ item.product_id.product_meta_description }}">
{% endblock %}
{% block content %}
<!--/single_page-->
       <!-- /banner_bottom_agile_info -->

<div class="contact-us-image">
    <img class="category-header-img" src="{{ backgroundImage }}">
    <div class="col-md-12 myclass">
    </div>
</div>

  <!-- banner-bootom-w3-agileits -->
<div class="banner-boasdasdotom-w3-agileits">
	<div class="container">
	     <div class="col-md-4 single-right-left ">
			<div class="grid images_3_of_2">
				<div class="flexslider">

					<ul class="slides">
						<li data-thumb="{{ item.first_image.url }}">
							<div class="thumb-image"> <img src="{{ item.first_image.url }}" alt="{{ item.first_image_alt }}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="{{ item.second_image.url }}">
							<div class="thumb-image"> <img src="{{ item.second_image.url }}" alt="{{ item.second_image_alt }}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="{{ item.third_image.url }}">
							<div class="thumb-image"> <img src="{{ item.third_image.url }}" alt="{{ item.third_image_alt }}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3>{{ item.product_id.product_title }}</h3>
                {% if item.product_id.product_discounted_price != null %}
                    <p>
                        <del>Rs {{ item.product_id.product_price|floatformat }}</del>
                        <span class="item_price">Rs {{ item.product_id.product_discounted_price|floatformat }}</span>
                    </p>
                {% else %}
                    <p>
                        <span class="item_price">Rs {{ item.product_id.product_price|floatformat }}</span>
                    </p>
                {% endif %}
            <h5>{{ item.product_description }}</h5>

            {% if productColors %}
            <div class="multiselect-colors" id="product-colors">
                <div>Choose colors:</div>
                <div id="ck-button">
                    {% for colorItem in productColors %}
                        <label>
                          <input type="checkbox" class="color-checkbox" value="{{ colorItem.color }}">
                            <span>{{ colorItem.color }}</span>
                       </label>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="center">
                <p>
                  </p><div class="input-group">
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]">
                            <span class="glyphicon glyphicon-minus"></span>
                          </button>
                      </span>
                      <input id="pd_quantity_value" type="text" name="quant[2]" class="form-control input-number" value="1" min="1" max="100">
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                              <span class="glyphicon glyphicon-plus"></span>
                          </button>
                      </span>
                  </div>
                <p></p>
            </div>
            <div class="occasion-cart">
                <button class="add-to-cart-btn" onclick='addToCart()'>
                    Add to Cart
                </button>
            </div>
        </div>
        <div class="clearfix"> </div>
				<!-- /new_arrivals -->
	<div class="responsive_tabs_agileits">
        <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li>Description</li>
                    <li>Information</li>
                </ul>
            <div class="resp-tabs-container">
            <!--/tab_one-->
               <div class="tab1">

                    <div class="single_page_agile_its_w3ls">
                       <p>{{ item.product_description }}</p>
                    </div>
                </div>
                <!--//tab_one-->
                   <div class="tab3">

                    <div class="single_page_agile_its_w3ls">
                      <h6>{{ item.product_id.product_title }}</h6>
                       <p>{{ item.product_information }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- //new_arrivals -->
	  	<!--/slider_owl-->
    <h3 class="wthree_text_info new_arrivals_custom_heading">New <span>Arrivals</span></h3>
    <div class="w3_agile_latest_arrivals new_arrivals_custom">
            {% if new_arrivals %}
                {% for item in new_arrivals %}
                    <div class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem h-100-p">
                            <div id="product-image-{{ item.id }}" class="men-thumb-item men-thumb-item-custom-products h-200">
                                <img src="{{ item.product_image_front.url }}" alt="{{ item.product_image_front_alt }}" class="pro-image-front">
                                <img src="{{ item.product_image_back.url }}" alt="{{ item.product_image_back_alt }}" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="{% url 'single' category=item.product_category itemslug=item.product_slug %}" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>
                            </div>
                            <div class="item-info-product ">
                                <h4><a id="title-{{ item.id }}" href="{% url 'single' category=item.product_category  itemslug=item.product_slug %}">{{ item.product_title }}</a></h4>
                                {% if item.product_discounted_price != null %}
                                    <div class="info-product-price">
                                        <span class="item_price" id="discounted-price-{{ item.id }}">Rs {{ item.product_discounted_price }}</span>
                                        <del>Rs {{ item.product_price }}</del>
                                    </div>
                                {% else %}
                                    <div class="info-product-price">
                                        <span class="item_price" id="price-{{ item.id }}">Rs {{ item.product_price }}</span>
                                    </div>
                                {% endif %}

                            <button class="add-to-cart-btn" id="addtocart-{{ item.id }}" onclick='addItemToCart("{{ item.id }}")'>
                                Add to Cart
                            </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
                <div class="clearfix"> </div>
         </div>
    </div>
 </div>
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

<script src="{% static 'js/imagezoom.js' %}"></script>

<script>
// Can also be used with $(document).ready()
    $(window).load(function() {
        $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails"
        });
    });
</script>
					<!-- //FlexSlider-->
<!-- //script for responsive tabs -->
<script>
    $('.btn-number').click(function(e){
    e.preventDefault();

    fieldName = $(this).attr('data-field');
    type      = $(this).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
    if (!isNaN(currentVal)) {
        if(type == 'minus') {

            if(currentVal > input.attr('min')) {
                input.val(currentVal - 1).change();
            }
            if(parseInt(input.val()) == input.attr('min')) {
                $(this).attr('disabled', true);
            }

        } else if(type == 'plus') {

            if(currentVal < input.attr('max')) {
                input.val(currentVal + 1).change();
            }
            if(parseInt(input.val()) == input.attr('max')) {
                $(this).attr('disabled', true);
            }

        }
    } else {
        input.val(0);
    }
});
$('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
});
$('.input-number').change(function() {

    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());

    var name = $(this).attr('name');
    if(valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the minimum value was reached');
        $(this).val($(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
    } else {
        alert('Sorry, the maximum value was reached');
        $(this).val($(this).data('oldValue'));
    }


});
$(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    </script>

    <script type="text/javascript">
        function setQuantity() {
            $('#item_quantity_pd').val($('#pd_quantity_value').val());
        }

        function addToCart() {
            $('#item-added-to-cart').modal('show');

            setTimeout(function() {
                $('#item-added-to-cart').modal('hide');
                }, 3000);

            var isUpdateRequest = false;
            items = [];
            if(localStorage.cart) {
                items = JSON.parse(localStorage.cart);
            }
            var selectedcolors = [];
            $('#ck-button input:checked').each(function() {
                selectedcolors.push($(this).val());
            });

            var productQuantity = $('#pd_quantity_value').val();

            if(items && items.products && items.products.length > 0) {
             for (var i = 0; i < items.products.length; i++) {
                 if(+items.products[i].id == {{ item.id }}) {
                     isUpdateRequest = true;
                     items.products[i].quantity = productQuantity;
                     items.products[i].colors = selectedcolors;
                     item = JSON.stringify(items);
                     localStorage.setItem("cart", item);
                     return;
                 }
             }
            }

            if(!isUpdateRequest) {
                var product = {};
                product.id = "{{ item.id }}";
                product.name = "{{ item.product_id.product_title }}";
                product.price = "{{ item.product_id.product_discounted_price }}";
                product.description = "{{ item.product_description }}";
                product.quantity = productQuantity;
                product.colors = selectedcolors;
                product.image = "{{ item.product_id.product_image_back.url}}";
                addProductToCart(product);
            }
        }

        function addProductToCart(product) {
            var cart = JSON.parse(localStorage.getItem('cart'));
            if(!cart) {
                cart = {};
                cart.products = [];
            }
            cart.products.push(product);
            localStorage.setItem('cart', JSON.stringify(cart));
        }
    </script>

{% endblock %}
